.kotak {
  border: 1px solid white;
  box-shadow: 0.75px 0.75px 0.75px 0.75px #808080;
  border-radius: 5px;
  background-color: white;
  margin-top: -70px; z-index: 2;
  
}

.navbar {height: 200px;}

.logo1 {padding-bottom: 120px;padding-left: 50px;}
.navbar1 {padding-bottom: 120px; padding-right: 150px;}

.jumbotron {
  width: 1550px;
  height: 130px;
}

/* .tombol { */
  padding-top: 30px;
  padding-left: ;
}
