.kotak {
  background: white;
  margin-top: -20px;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 0.75px 0.75px 0.75px 0.75px #808080;
}

.services {
  padding-left: 150px;
}

.logo {
  padding-right: -10px;
}
/* #tombol1 {
  margin-right: px;
} */
